*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #ebebeb;
}

p{
    font-size: 10px;
}

h3{
    font-size: 18px;
}

ul {
    list-style: none;
    margin-left: 0px;
    padding: 0px;
}
