.home__main--subtitulo{
    color: #666;
    margin: 15px;
}

.home__main__section__article img{
    width: 290px;
    height: 290px;
    
}

.home__main__section__article{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
}

.home__main__section__article--precios{
    border: #ebebeb solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}

.home__main__section__article--precios i{
    color: #39b54a;
    padding-left: 15px;
}

.home__main__section__article--precios h3{
    padding-left: 15px;
    font-size: 13px;
    color: #666;
}

.home__main__section__article--precios p{
    padding-left: 15px;
    color: #39b54a;
}

.home__main__section__article--precios h4{
    padding-left: 15px;
    color: #666;
    margin-top: 10px;
    font-size: 10px;
}


